if SHIELD_MOLAK_R

config ZMK_KEYBOARD_NAME
    default "Molak"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MOLAK_L

config ZMK_SPLIT
    default y

endif

