#include "Molak.dtsi"

&kscan0 {
    compatible = "zmk,kscan-gpio-direct";

    input-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>,   // COL0 → ROW0
                  <&gpio1 1 GPIO_ACTIVE_LOW>,    // COL1 → ROW0
                  <&xiao_d 10 GPIO_ACTIVE_LOW>,  // COL2 → ROW0

                  <&gpio0 19 GPIO_ACTIVE_HIGH>,  // ROW1 → COL0
                  <&gpio1 1 GPIO_ACTIVE_HIGH>,   // ROW1 → COL1
                  <&xiao_d 10 GPIO_ACTIVE_HIGH>, // ROW1 → COL2

                  <&gpio0 19 GPIO_ACTIVE_HIGH>,  // ROW2 → COL0
                  <&gpio1 1 GPIO_ACTIVE_HIGH>,   // ROW2 → COL1
                  <&xiao_d 10 GPIO_ACTIVE_HIGH>, // ROW2 → COL2

                  <&gpio0 19 GPIO_ACTIVE_HIGH>,  // ROW3 → COL0
                  <&gpio1 1 GPIO_ACTIVE_HIGH>,   // ROW3 → COL1
                  <&xiao_d 10 GPIO_ACTIVE_HIGH>, // ROW3 → COL2

                  <&gpio0 19 GPIO_ACTIVE_HIGH>,  // ROW4 → COL0
                  <&gpio1 1 GPIO_ACTIVE_HIGH>,   // ROW4 → COL1
                  <&xiao_d 10 GPIO_ACTIVE_HIGH>, // ROW4 → COL2

                  <&xiao_d 9 GPIO_ACTIVE_LOW>;   // COL3 → ROW0
};

&left_encoder {
    status = "okay";
};
