#include "molak_xiao.dtsi"

&kscan0 {
    col-gpios
        = <&xiao_d 16 GPIO_ACTIVE_HIGH>
        , <&xiao_d 17 GPIO_ACTIVE_HIGH>
        , <&xiao_d 11 GPIO_ACTIVE_HIGH>
        , <&xiao_d 12 GPIO_ACTIVE_HIGH>
        ;
};

&left_encoder {
    status = "okay";
};
